.hattrick-data h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    margin-top: 1em;
}

.hattrick-data h1 span {
    font-size: 0.75em;
    color: var(--text-low);
    margin-left: 0.4em;
    margin-top: 0.25em;
}

.hattrick-data .content {
    display: flex;
    gap: 4em;
    padding: 2em 4em;
}

.hattrick-data .content .column-1,
.hattrick-data .content .column-3 {
    flex: 1;
}

.hattrick-data .content .column-2 {
    flex: 4;
}

.hattrick-data .content .column-1 ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0.5em;
    font-weight: 600;
    color: var(--text-low);
}

.hattrick-data .content .column-1 li {
    cursor: pointer;
    max-width: fit-content;
}

.hattrick-data .content .column-1 li:hover,
.hattrick-data .content .column-1 li.active {
    color: var(--text-high);
}

.hattrick-data .content .column-2 .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.hattrick-data .content .column-2 .header button{
    border-radius: 6px;
    background-color: var(--text-high);
    color: #fff;
    font-size: 0.75em;
}