.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: var(--text-medium);
    padding: 1em 4em;
    height: min-content;
    width: 100%;
}

.navbar .logo{
    z-index: 1;
}

.navbar .options{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar .options ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: var(--text-low);
    font-size: 1rem;
}

.navbar .options ul li {
    margin-right: 1em;
    margin-top: 0.5em;
    cursor: pointer;
}

.active {
    color: var(--text-high);
}

.navbar .options ul li:hover,
.navbar .options ul li.active{
    color: var(--text-high);
}

@media screen and (max-width: 650px) {
    .navbar {
        padding: 1em 2em;
    }
    .navbar .options{
        display: none;
    }
}