.dashboard-header{
    background-color: #fff;
    border-radius: 8px;
    margin: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2em;
    padding-bottom: 0;
}

.dashboard-header header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dashboard-header .team{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboard-header .team-photo img {
    width: 64px;
    height: 64px;
    padding: 0.5em;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.05);
    object-fit: cover;
}

.dashboard-header .team-basic-info{
    margin-left: 1em;
}

.dashboard-header .team-basic-info .trophys{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboard-header .team-basic-info .trophys img{
    height: 24px;
    margin-left: 0.5em;
}

.dashboard-header .team-basic-info h4{
    font-size: 0.8em;
    color: var(--text-medium);
    text-transform: uppercase;
    font-weight: 500;
}

.dashboard-header .team-basic-info h3{
    font-size: 1.2em;
    font-weight: 600;
}

.dashboard-header .team-basic-info .country{
    display: flex;
    align-items: center;
}

.dashboard-header .team-basic-info .country img{
    height: 14px;
    margin-right: 0.4em;
}

.dashboard-header nav{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.dashboard-header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: var(--text-low);
    font-size: 1em;
}

.dashboard-header nav li {
    margin-right: 1em;
    margin-top: 0.5em;
    padding: 0.5em;
    cursor: pointer;
}

.dashboard-header nav li.active {
    color: var(--text-high);
    border-bottom: 2px solid var(--primary-color);
}

.dashboard-header nav ul li:hover,
.dashboard-header nav ul li.active{
    color: var(--text-high);
}


.dashboard-header .coach-infos{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1em;
}

.dashboard-header .coach-photo{
    margin-right: 1em;
}

.dashboard-header .coach-photo img{
    width: 64px;
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 50%;
}

.dashboard-header .coach-basic-infos{
    margin-right: 2em;
}

.dashboard-header .coach-basic-infos h4{
    font-weight: 500;
    margin-bottom: 0 !important;
}

.dashboard-header .coach-basic-infos .country{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboard-header .coach-basic-infos .country h5{
    margin-right: 0.5em;
    color: var(--text-low);
    font-weight: 500;
}

.dashboard-header .coach-basic-infos .country img{
    height: 14px;
}

.dashboard-header .coach-infos .coach-icon svg{
    font-size: 1.5em;
}