.player-text-card{
    display: flex;
    width: min-content;
    min-width: 400px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2em;
}

.player-text-card h4{
    font-size: 1em;
    color: var(--text-low);
    font-weight: 500;
    margin-bottom: 0.4em;
}

.player-text-card p{
    color: var(--text-medium);
    font-weight: 500;
}