.dashboard-player-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2em;
    width: 300px;
    cursor: pointer;
}
.dashboard-player-card:hover{
    transform: scale(1.02);
}

.dashboard-player-card .player-infos{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboard-player-card .player-photo{
    margin-right: 1em;
}

.dashboard-player-card .player-photo img{
    width: 64px;
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 50%;
}

.dashboard-player-card .player-basic-infos{
    margin-right: 1em;
}

.dashboard-player-card .player-basic-infos h4{
    font-weight: 500;
}

.dashboard-player-card .player-basic-infos .country{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboard-player-card .player-basic-infos .country h5{
    margin-right: 0.5em;
    color: var(--text-low);
    font-weight: 500;
}

.dashboard-player-card .player-basic-infos .country img{
    height: 14px;
}

.player-overall.high-green{
    color: var(--high-green);
}

.player-overall.green{
    color: var(--green);
}

.player-overall.yellow{
    color: var(--yellow);
}

.player-overall.orange{
    color: var(--orange);
}

.player-overall.red{
    color: var(--red);
}