.dashboard-post {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 2em;
}

.dashboard-post .post-basic-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
}

.dashboard-post .post-basic-info p {
    color: var(--text-medium);
    font-weight: 500;
}

.dashboard-post .post-basic-info svg{
    font-size: 2em;
    padding: 0.2em;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin-right: 0.2em;
    color: #fff;
}

.dashboard-post .post-basic-info.Twitter svg{
    background-color: #00ACEE;
}

.dashboard-post .post-info h2{
    font-size: 1.1em;
    color: var(--text-high);
}

.dashboard-post .post-info p{
    font-size: 0.9em;
    color: var(--text-medium);
    font-weight: 500;
    max-width: 600px;
    margin-bottom: 0.5em;
}

.dashboard-post .post-info img{
    max-width: 600px;
}