.assistant-manager {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.assistant-manager .head-image {
    height: 3em;
    margin-right: 0.5em;
}

.assistant-manager .manager-text h5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.2em;
    font-size: 0.9em !important;
    color: var(--text-medium);
    font-weight: 700;
    white-space: nowrap;
    max-height: fit-content;
}

.assistant-manager .manager-text h5 .flag{
    height: 0.75em;
    margin-left: 0.5em;
}

.assistant-manager .manager-text .link:hover{
    color: var(--text-high);
}

.assistant-manager .manager-text  h6 {
    font-size: 0.9em !important;
    color: var(--text-medium);
    font-weight: 500;
    white-space: nowrap;
}