body.modal-open {
    overflow: hidden;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.modal-overlay .modal {
    background: #fff;
    padding: 1.25em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 20em;
    max-width: min-content;
    width: 100%;
}

.modal-overlay .modal .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--text-low);
    margin-bottom: 1em;
}

.modal-overlay .modal .header h2 {
    font-size: 1.2em;
}

.modal-overlay .modal .header svg {
    font-size: 1.2em;
    cursor: pointer;
    color: var(--text-medium);
}

.modal-overlay .modal .header svg:hover {
    color: var(--text-high);
}