.dashboard .content{
    display: flex;
    gap: 4em;
    padding: 2em 4em;
}

.dashboard .content header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.dashboard .content header .team-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboard .content header .team-header .head-image{
    height: 6em;
    padding: 0.25em;
}

.dashboard .content header .team-header .title{
    margin-left: 1em;
}

.dashboard .content header .team-header .title h1{
    font-size: 1.5em;
}

.dashboard .content header .team-header .title p{
    display: flex;
    align-items: center;
}

.dashboard .content header .team-header .title .flag{
    height: 1em;
    margin-right: 0.5em;
}

.dashboard .content header .league{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboard .content header .league .league-img{
    height: 5em;
}