.tactics {
    display: flex;
    flex-direction: column ;
    align-items: flex-start;
    margin-bottom: 2em;
    background-color: #fff;
    padding: 2em;
    border-radius: 1em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.tactics .tactics-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    width: 100%;
}

.tactics .tactics-info .row{
    display: flex;
    flex-direction: row;
}

.tactics .tactics-info img{
    height: 32px;
    margin-right: 1em;
}


.tactics .tactics-info h4{
    color: var(--red);
    margin: 0;
}

.tactics .tactics-info .overall h4{
    color: var(--primary-color);
}
.tactics .player-container {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.075);
    cursor: pointer;
    transition: transform 0.3s;
}

.tactics .player-container:hover {
    transform: scale(1.1);
}

.tactics .player-container img {
    width: 100%;
    border-radius: 50%;
}

.player-container .player-name {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -30px;
    font-size: 12px;
    font-size: 1em;
    font-weight: 500;
  }
  
  .player-container:hover .player-name {
    display: block;
  }