.wiki-card{
    display: flex;
    width: min-content;
    min-width: 400px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2em;
}

.wiki-card h4{
    font-size: 1em;
    color: var(--text-low);
    font-weight: 500;
    margin-bottom: 0.4em;
}

.wiki-card p{
    color: var(--text-medium);
    font-weight: 500;
}

.wiki-card button{
    background: none;
    border: none;
    color: var(--text-low);
    font-size: 0.9em;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    text-align: left;
    margin-left: 1em;
    font-weight: 600;
}

.wiki-card button:hover{
    color: var(--primary-color);
}