.team-history {
    display: flex;
    flex-direction: column;
}

.team-history .teams {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.team-history .teams .player-team {
    display: flex;
    flex-direction: row;
}

.team-history .teams .player-team .teams-tag {
    margin-right: 0.5em;
}
