.academy{
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.academy h4{
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 1em;
}

.academy .scouts{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    gap: 20px;
}