.scout-list table {
    width: 50%;
    font-weight: 500;
    border-collapse: collapse;
}

.scout-list th,
.scout-list td {
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.scout-list th {
    padding-bottom: 5px;
    color: var(--text-low);
    font-weight: 500;
    white-space: nowrap;
}

.scout-list th svg {
    font-size: 0.75em;
}

.scout-list tbody tr {
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.scout-list tbody tr:hover {
    transform: scale(1.02);
}

.scout-list .click {
    cursor: pointer;
}