.team-history {
    display: flex;
    flex-direction: column;
}

.team-history .teams {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.team-history .teams .player-team {
    display: flex;
    flex-direction: row;
}

.team-history .teams .player-team .head-image {
    height: 2.2em;
    padding: 0.2em;
    margin-right: 0.5em;
}


.team-history .teams .player-team .team-text h6{
    color: var(--text-low);
}

.team-history .teams .player-team .team-text .link:hover{
    color: var(--text-high);
}