.stats-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 8px;
    margin: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2em;
    width: min-content;
}

.stats-card h4{
    font-size: 1em;
    color: var(--text-low);
    font-weight: 500;
    margin-bottom: 0.4em;
}

.stats-card .player-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.stats-card .player-stats .column1,
.stats-card .player-stats .column2 {
    flex: 1;
    font-size: 0.9em;
    white-space: nowrap;
}

.stats-card .player-stats .column1 p{
    margin-bottom: 1em;
    color: var(--text-medium);
}

.stats-card .player-stats .column2 p{
    margin-bottom: 1em;
    color: var(--text-high);
    font-weight: 500;
    margin-left: 4em;
}