.player-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 8px;
    margin: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2em;
}

.header-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.header-info h4{
    margin-right: 2em;
    color: var(--text-medium);
    font-size: 0.9em;
    font-weight: 500;
    white-space: nowrap;
}

.header-info p{
    justify-content: center;
    align-items: center;
    color: var(--text-high);
    font-weight: 600;
}

.header-info p span{
    justify-content: center;
    align-items: center;
    margin-left: 0.5em;
}

.header-info .player-overall.high-green p{
    color: var(--high-green);
}

.header-info .player-overall.green p{
    color: var(--green);
}

.header-info .player-overall.yellow p{
    color: var(--yellow);
}

.header-info .player-overall.orange p{
    color: var(--orange);
}

.header-info .player-overall.red p{
    color: var(--red);
}

.player-header .player-contract .available{
    cursor: pointer;
}

.player-header .player-contract .available:hover::after{
    content: "Available";
    font-size: 12px;
    font-weight: 600;
    background: var(--primary-color);
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-left: 10px;
} 

.green {
    color: var(--primary-color);
  }
  
.red {
    color: red;
}