.play-styles{
    display: flex;
    flex-direction: column;
}


.player-styles {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}


.play-styles .player-styles .play-style{
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.play-styles .player-styles .play-style .icon{
    margin-right: 0.5em;
}

.play-styles .player-styles .play-style .icon img {
    display: flex;
    align-items: center;
    height: 2.5em;
}

.play-styles .player-styles .play-style h5{
    font-size: 0.9em;
    color: var(--text-medium);
    font-weight: 500;
}