.scout-player .player-image img{
    vertical-align: middle;
    width: 64px;
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 50%;
}

.scout-player .player-flag img{
    vertical-align: middle;
    width: 24px;
}

.scout-player .player-info{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    white-space: nowrap;
}

.scout-player .player-name{
    font-weight: 600;
    margin: 0;
}

.scout-player .player-team-league,
.scout-player .player-team-name{
    color: var(--text-low);
}

.scout-player.player-position.GK{
    color: var(--red);
}

.scout-player .player-position.CB,
.scout-player .player-position.RB,
.scout-player .player-position.LB,
.scout-player .player-position.RWB,
.scout-player .player-position.LWB{
    color: var(--orange);
}

.scout-player .player-position.CDM,
.scout-player .player-position.CAM,
.scout-player .player-position.CM,
.scout-player .player-position.RM,
.scout-player .player-position.LM{
    color: var(--high-green);
}

.scout-player .player-position.LW,
.scout-player .player-position.RW,
.scout-player .player-position.CF,
.scout-player .player-position.ST{
    color: var(--blue);
}

.player-overall.high-green{
    color: var(--high-green);
}

.player-overall.green{
    color: var(--green);
}

.player-overall.yellow{
    color: var(--yellow);
}

.player-overall.orange{
    color: var(--orange);
}

.player-overall.red{
    color: var(--red);
}