.stat-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2em;
    margin-bottom: 2em;
    width: min-content;
}

.stat-card h4{
    font-size: 1em;
    color: var(--text-low);
    font-weight: 500;
    margin-bottom: 0.4em;
    white-space: nowrap;
}
