.national-history {
    display: flex;
    flex-direction: column;
}

.player-national {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.national-tag {
    margin-right: 8px;
}

.national-tag img {
    width: 28px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 3px;
}

.player-national .national-text h4 {
    font-size: 0.9em;
    color: var(--text-medium);
}

.player-national .national-text h5 {
    font-size: 0.8em;
    color: var(--text-medium);
    font-weight: 500;
}

.show-older-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
    border: none;
    color: var(--primary-color);
    font-size: 0.9em;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    text-align: left;
    margin-top: 1em;
    font-weight: 600;
}

.show-older-button svg {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 8px;
    font-size: 26px;
    padding: 4px;
}

.show-older-button:hover {
    text-decoration: underline;
}

.collapse-button {
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    padding: 0;
    margin: 0;
    text-align: right;
}

.collapse-button svg {
    font-size: 26px;
    padding: 4px;
}

.collapse-button:hover {
    text-decoration: underline;
}