.player-header .player-head{
    position: relative;
    display: inline-block;
}

.player-header .player-head .head-image{
    width: 16em;
    height: 16em;
}

.player-header .player-head .flag{
    position: absolute;
    bottom: 7px;
    right: 0;
    height: 2em;
    max-width: fit-content;
    z-index: 1;
}

.player-header .player-stats{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    max-width: 16em;
    margin-top: 1em;
}

.player-header .player-stats p{
    display: flex;
    align-items: center;
    font-size: 0.9em;
    color: var(--text-low);
}

.player-header .player-stats p svg{
    font-size: 0.9em;
    margin-left: 0.5em;
    cursor: pointer;
}

.player-header .player-stats .info:hover::after{
    position: absolute;
    content: "Score created by hat trick to determine hiring potential";
    font-size: 0.8em;
    font-weight: 600;
    background: var(--text-high);
    color: white;
    padding: 1em;
    border-radius: 6px;
    margin-left: 9em;
}

.player-header .player-stats h4{
    font-size: 2em;
}

.player-header .player-stats h4{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player-header .player-stats h4 .rating svg{
    font-size: 0.6em;
    margin-left: 0.5em;
}