.dashboard-squad{
    padding: 2em;
}

.dashboard-squad .squad-class{
    margin-bottom: 2em;
}

.dashboard-squad .squad-class h3{
    margin-bottom: 1em;
}

.dashboard-squad .squad-position{
    display: flex; 
    flex-wrap: wrap;
    gap: 2em;
}

