.center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.scout-player {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 60%;
    padding-bottom: 1em;
    border-bottom: 2px solid rgba(0, 0, 0, 0.075);
    cursor: pointer;
    transition: transform 0.1s ease;
}

.scout-player:hover{
    transform: scale(1.01);
}

.scout-player .profile-head {
    position: relative;
    display: inline-block;
}

.scout-player .profile-head .head-image {
    width: 6em;
    height: 6em;
}

.scout-player .profile-head .flag {
    position: absolute;
    bottom: 4px;
    right: 0;
    height: 1.25em;
    max-width: fit-content;
    z-index: 1;
}

.scout-player .player-info {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    max-height: 6em;
    margin-right: 1em;
}

.scout-player .player-info h2 {
    display: flex;
    align-items: center;
    font-size: 1em;
    margin-bottom: 0.25em;
}

.scout-player .player-info h2 span {
    font-size: 0.9em;
    color: var(--text-low);
    margin-left: 0.4em;
    margin-top: 0.1em;
}

.scout-player .player-info p {
    font-size: 0.9em;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.scout-player .player-info h3 {
    font-size: 0.8em;
    color: var(--text-low);
    font-weight: 600;
}

.scout-player .score {
    display: flex;
    align-items: center;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.5em;
    border-radius: 6px;
    font-size: 0.75em;
    color: #fff;
    font-weight: 500;
}

.scout-player .score.high-green{
    background-color: var(--high-green);
}

.scout-player .score.green{
    background-color: var(--green);
}

.scout-player .score.yellow{
    background-color: var(--yellow);
}

.scout-player .score.orange{
    background-color: var(--orange);
}

.scout-player .score.red{
    background-color: var(--red);
}